/**/
header {
    background-color: #000;
    height: 3.5rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-right: 5rem;
}

nav li {
    display: inline;
    margin-right: 10px;
}


nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.logo {
    margin-left: 5rem;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos específicos */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del contenido */
main {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 28px;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

address {
    font-size: 18px;
    color: #333;
}

/* Estilos del formulario de contacto */
.contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    font-size: 24px;
    color: #333;
    margin-top: 0;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #555;
}

/* SERVICIOS  */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.col {
    flex-basis: calc(50% - 10px); 
}

.service {
    display: flex;
    margin-bottom: 20px;
}

.service img {
    max-width: 100%;
    height: auto;
    width: 300px; 
    margin-right: 20px;
}

.service-content {
    flex: 1;
}

h2 {
    font-size: 1.5em;
    margin-top: 0;
}

p {
    font-size: 1em;
}


/* INSTALACIONES */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.container1 {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.col {
    flex-basis: calc(50% - 10px); 
}

.install {
    display: flex;
    margin-bottom: 20px;
}

.install img {
    max-width: 100%;
    height: auto;
    width: 300px; 
    margin-right: 20px;
}

.install-content {
    flex: 1;
}

h2 {
    font-size: 1.5em;
    margin-top: 0;
}

p {
    font-size: 1em;
}